# Copyright (c) 2022, Talpa Chen
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_AIC8800X
	bool "AICSemi AIC8800X series Wifi6 and Bluetooth 5.0 SOC"
	select ARM
	select CPU_CORTEX_M4
	select CPU_CORTEX_M_HAS_SYSTICK
	select CPU_CORTEX_M_HAS_VTOR
	select CPU_HAS_ARM_MPU
	select CPU_HAS_FPU
	select SOC_FAMILY_AICSEMI
	help
	  Enable support for AICSemi AIC8800X SOC series
