# Copyright (c) 2022, Talpa Chen
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_AIC8800X

source "soc/arm/aicsemi/aic8800/Kconfig.defconfig.aic8800*"

config SOC_SERIES
	default "aic8800x"

config NUM_IRQS
	default 96

endif # SOC_SERIES_AIC8800X
