/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 Talpa Chen
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	soc {
		sram0: memory@100000 {
			compatible = "mmio-sram";
			reg = <0x00100000 DT_SIZE_K(960)>;
		};

		uart0: uart@40041000 {
			compatible = "aicsemi,aic8800x-uart";
			reg = <0x40041000 0x1000>;
			interrupts = <16 0>;
			status = "okay";
			current-speed = <921600>;
			label = "UART_0";
		};

		/*
		uart1: uart@40042000 {
			compatible = "aicsemi,aic8800x-uart";
			reg = <0x40042000 0x1000>;
			interrupts = <17 0>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00020000>;
			status = "disabled";
			label = "UART_1";
		};

		uart2: uart@40043000 {
			compatible = "aicsemi,aic8800x-uart";
			reg = <0x40043000 0x1000>;
			interrupts = <18 0>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00020000>;
			status = "disabled";
			label = "UART_2";
		};
		*/
	};
};

&nvic {
	arm,num-irq-priority-bits = <6>;
};
