/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 Talpa Chen
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <1>;
		};
	};

	sram0: memory@100000 {
		compatible = "mmio-sram";
		reg = <0x00100000 DT_SIZE_K(960)>;
	};

	soc {
		pinctrla: pin-controller@40503000 {
			compatible = "st,aic8800x-pinctrl";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <40503000 0x1000>;

			gpioa: gpio@40504000 {
				compatible = "aicsemi,aic8800x-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40504000 0x1000>;
				interrupts = <65 0>;
			};
		}
		
		pinctrlb: pin-controller@50011000 {
			compatible = "st,aic8800x-pinctrl";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x50012000 0x1000>;

			gpioa: gpio@50011000 {
				compatible = "aicsemi,aic8800x-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <50011000 0x1000>;
			};
		}

		uart0: uart@40041000 {
			compatible = "aicsemi,aic8800x-uart";
			reg = <0x40041000 0x1000>;
			interrupts = <16 0>;
		};

		uart1: uart@40042000 {
			compatible = "aicsemi,aic8800x-uart";
			reg = <0x40042000 0x1000>;
			interrupts = <17 0>;
		};

		uart2: uart@40043000 {
			compatible = "aicsemi,aic8800x-uart";
			reg = <0x40043000 0x1000>;
			interrupts = <18 0>;
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <6>;
};
