# Copyright (c) 2022, Talpa Chen
# SPDX-License-Identifier: Apache-2.0

config PINMUX_AIC8800X
	bool "AICSemi AIC8800X Pinmux driver"
	depends on SOC_SERIES_AIC8800X
	default y
	help
		AICSemi AIC8800X Pinmux driver
