# Copyright (c) 2022, Talpa Chen
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "AICSemi AIC8800X SOC Selection"
	depends on SOC_SERIES_AIC8800X

	config SOC_AIC8800M
		bool "aic8800m"

endchoice
