/*
 * Copyright (c) 2022, Talpa Chen
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <dt-bindings/pinctrl/aic8800x-pinctrl.h>

&pinctrl_a {
	uart0_default: uart0_default {
		group1 {
			pinmux = <AIC8800X_PINMUX('A', 8, 0)>,
				<AIC8800X_PINMUX('A', 9, 0)>;
		};
	};
};
