# Copyright (c) 2022, Talpa Chen
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_AICSEMI_AIC8800X
	bool "AICSemi AIC8800X pin controller driver"
	depends on SOC_SERIES_AIC8800X
	default y
	help
	  AICSemi AIC8800X pin controller driver
